<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>quadras aqui</p>
    <img src="images/1.jpeg" alt="1">
    <img src="images/2.jpeg" alt="1">
  </body>
</html>